body {
	margin:0;
	height:100%;
	-background:rgb(245, 245, 255) url(../img/posbg.png);
	font-family:"微软雅黑";
}
p,h2,h3,ul,li,dl,dt,dd {
	margin:0;
	padding:0;
}
ul,li {
	list-style:none;
}
.clearfix:after {
	content:'';
	overflow: hidden;
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
}